swagger: "2.0"
info:
  description: "This service provides the secret booking codes for hotel room booking. The codes are only revealed after the specified launch dates. A valid JWT is required to authenticate."
  version: "1.0.0"
  title: "Eurofurence Reg Room Service"
  contact:
    email: "jsquirrel_github_9a6d@packetloss.de"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
host: "reglive.eurofurence.org"
basePath: "/api/room-service"
schemes:
- "https"
paths:
  /countdown
    get:
      summary: "Room registration launch information"
      description: "Returns seconds until launch or the room booking secret."
      operationId: "getCountdown"
      produces:
      - "application/json"
      parameters:
      - name: "currentTimeIso"
        in: "query"
        description: "Specify alternate value for 'now' for testing purposes."
        required: false
        type: "string"
      reponses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CountdownResponse"
        403:
          description: "unauthorized"
definitions:
  CountdownResponse:
    type: "object"
    properties:
      currentTime:
        type: "string"
        description: "The service's understanding of 'now' in ISO-8601-1 format."
      targetTime:
        type: "string"
        description: "The specified launch date in ISO-8601-1 time format. Staff members will see a different targetTime until the public launch date has arrived."
      countdown:
        type: "integer"
        format: "int64"
      secret:
        type: "string"
externalDocs:
  description: "GitHub repository, including README"
  url: "https://github.com/eurofurence/reg-room-service"
